body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
}

.container {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;
    border-radius: 8px;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 8px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

h2{
    margin-top: 40px;
}
.container{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}